<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.vjet.eclipse.internal.debug.pref.VjetDebugPrefInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.dltk.mod.launching.debuggingEngine">
      <engineContribution
            natureId="org.eclipse.vjet.core.nature">
         <engine
               class="org.eclipse.vjet.eclipse.internal.debug.debugger.VjetDebuggerRunnerFactory"
               description="%DebuggingEngine.description"
               id="org.eclipse.vjet.eclipse.vjetdebugger"
               name="%DebuggingEngine.name"
               preferencePageId="org.eclipse.vjet.eclipse.preferences.debug.engines.vjetdebugger"
               priority="0"
               propertyPageId="org.eclipse.vjet.eclipse.propertyPage.debug.engines.vjetdebugger">
         </engine>
      </engineContribution>
   </extension>
   <extension
         point="org.eclipse.dltk.mod.debug.scriptDebugModel">
      <debugModel
            debugModelId="org.eclipse.vjet.eclipse.debug.vjetModel"
            natureId="org.eclipse.vjet.core.nature"
            typeFactory="org.eclipse.vjet.eclipse.internal.debug.VjetTypeFactory">
      </debugModel>
   </extension>
   <extension
          point="org.eclipse.ui.startup">
       <startup
             class="org.eclipse.vjet.eclipse.internal.debug.VjetLaunchEarlyStartup">
       </startup>
    </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.vjet.eclipse.internal.debug.property.LaunchPropertyTester"
            id="org.eclipse.vjet.eclipse.debug.property.launch"
            namespace="org.eclipse.vjet.eclipse.debug"
            properties="launchJS,launchHTML"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
</plugin>
